<div class="programari-container">
  <div class="content-area">
    <div class="header">
      <h1>Vreau o Programare</h1>
      <hr />
    </div>
    <div class="container">
      <form
        #ProgramariForm="ngForm"
        (ngSubmit)="onProgramareOnline(ProgramariForm.value)"
      >
        <div class="row">
          <div class="col-25">
            <label for="fname">Nume</label>
          </div>
          <div class="col-75">
            <input
              type="text"
              id="fname"
              name="First_name"
              placeholder="Nume..."
              ngModel
            />
          </div>
        </div>
        <div class="row">
          <div class="col-25">
            <label for="lname">Prenume</label>
          </div>
          <div class="col-75">
            <input
              type="text"
              id="lname"
              name="Last_name"
              placeholder="Prenume..."
              ngModel
            />
          </div>
        </div>
        <div class="row">
          <div class="col-25"></div>
          <label for="Email">Email</label>
        </div>
        <div class="col-75">
          <input
            type="email"
            id="email"
            name="Email"
            placeholder="Email@gmail.com..."
            ngModel
          />
        </div>
        <div class="row">
          <div class="col-25">
            <label for="Aparate">Aparate</label>
          </div>
          <div class="col-75">
            <select id="Aparate" name="Aparate" ngModel>
              <option value="Elysion pro-Aparat Dioda">
                Elysion pro-Aparat Dioda
              </option>
              <option value="Cooltech">Cooltech</option>
              <option value="Velahape 3">Velahape 3</option>
            </select>
          </div>
        </div>
        <div class="row">
          <div class="col-25">
            <label for="subject">Subiect</label>
          </div>
          <div class="col-75">
            <textarea
              id="message"
              name="message"
              placeholder="Scrie un mesaj..."
              ngModel
              style="height: 200px"
            ></textarea>
          </div>
        </div>
        <div class="row">
          <div class="col-25">
            <label for="start">Data</label>
          </div>
          <div class="col-75">
            <input
              type="date"
              id="start"
              name="data"
              value="2022-07-22"
              min="2022-12-01"
              max="2023-12-31"
              ngModel
            />
          </div>
        </div>
        <div class="row">
          <input
            type="submit"
            value="Programare Online"
            class
            style="color: rgb(255, 0, 149)"
          />
        </div>
      </form>
    </div>
  </div>
</div>

<!-- display programari area -->
<!-- <div class="programari-display-area">
  <h3>Toate Programarile</h3>
  <table id="programari">
    <tr>
      <th>#</th>
      <th>Aparate</th>
      <th>Email</th>
      <th>Data</th>
    </tr>
    <tr *ngFor="let program of allProgramari; index as i">
      <td>{{ i + 1 }}</td>
      <td>{{ program.First_name }}</td>
      <td>{{ program.Last_name }}</td>
      <td>{{ program.Email }</td>
      <td>{{ program.Aparate }}</td>
      <td>{{ program.data }}</td>
      <td></td>
      <td></td>
    </tr>
  </table>
</div> -->
