<div class="home-container">
  <div class="video-container">
    <video loop="" controls muted class="qw_100">
      <source
        src="https://beautymed.ro/data/audio-video/558/67307.mp4"
        type="video/mp4"
      />
      Your browser does not support the video tag. I suggest you upgrade your
      browser.
    </video>
  </div>
  <div class="form-container">
    <h1>Welcome to Sklinique</h1>
    <form>
      <div class="form-group username">
        <label for="username">Enter your username:</label>
        <input id="username" name="username" type="text" class="form-control" />
      </div>

      <div class="form-group password">
        <label for="password">Enter your password:</label>
        <input
          id="password"
          type="password"
          name="password"
          type="text"
          class="form-control"
        />
      </div>

      <button type="button" class="btn btn-dark">Submit</button>
    </form>
  </div>
</div>
>
