<div class="container">

  <app-header>
  <!-- <div class="nav-container"> 
  <ul>
     <li><a routerLink="Home">Home</a></li>
     <li><a [routerLink]="'Programari'">Programari</a></li>
     <li><a [routerLink]="['Aparate']">Aparate</a></li>
     <li><a routerLink="About">About</a></li>
  </ul>
</div> -->
</app-header> 
   <!-- <app-aparateapp-aparate></app-aparateapp-aparate>
   <app-about></app-about>
   <app-home></app-home>  -->
   <router-outlet></router-outlet>
   <app-footer></app-footer>
</div>
