

<div class="home-container">
  <div class="row mt-3">
    <div class="col-12 highlight position-relative">
      <img
        src="https://beautymed.ro/data/img/shoppro/558/91_2.jpg"
        width="835"
        height="580"
      />
      <div class="position-absolute top-0 start-1 box-1 mt-3 ms-3">
        <h3>Elysion Pro - Aparat Dioda</h3>
        <p>Laser Profesional de 3500W pentru Epilare Definitivat</p>
      </div>
      <div class="position-absolute bottom-0 end-0 box-2 me-5">
        Todays Technology <img src="arrows.jpg" alt="" />
      </div>

      <div>
        <!-- <video autoplay="" loop="" muted="" class="qw_100"><source src="/data/audio-video/558/67307.mp4" type="video/mp4">Your browser does not support the video tag. I suggest you upgrade your browser.</video> -->

        <hr style="border: 1px dashed #000" />
      </div>
    </div>
  </div>
</div>
